@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

* {
  list-style: none;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
}

.tw-filter-grey {
  filter: brightness(0) saturate(100%) invert(47%) sepia(0%) saturate(217%)
    hue-rotate(32deg) brightness(98%) contrast(92%);
}

/* ========================================== TAILWIND STYLES */
@layer utilities {
  .tw-wrapper {
    @apply tw-max-w-7xl lg:tw-mx-auto tw-p-5 md:tw-px-10 xl:tw-px-0 tw-w-full;
  }

  .tw-flex-center {
    @apply tw-flex tw-justify-center tw-items-center;
  }

  .tw-flex-between {
    @apply tw-flex tw-justify-between tw-items-center;
  }

  /* TYPOGRAPHY */
  /* 64 */
  .tw-h1-bold {
    @apply tw-font-bold tw-text-[40px] tw-leading-[48px] lg:tw-text-[48px] lg:tw-leading-[60px]  xl:tw-text-[58px] xl:tw-leading-[74px];
  }

  /* 40 */
  .tw-h2-bold {
    @apply tw-font-bold tw-text-[32px] tw-leading-[40px] lg:tw-text-[36px] lg:tw-leading-[44px] xl:tw-text-[40px] xl:tw-leading-[48px];
  }

  .tw-h2-medium {
    @apply tw-font-medium tw-text-[32px] tw-leading-[40px] lg:tw-text-[36px] lg:tw-leading-[44px] xl:tw-text-[40px] xl:tw-leading-[48px];
  }

  /* 36 */
  .tw-h3-bold {
    @apply tw-font-bold tw-text-[28px] tw-leading-[36px] md:tw-text-[36px] md:tw-leading-[44px];
  }

  .tw-h3-medium {
    @apply tw-font-medium tw-text-[28px] tw-leading-[36px] md:tw-text-[36px] md:tw-leading-[44px];
  }

  /* 32 */
  .tw-h4-medium {
    @apply tw-font-medium tw-text-[32px] tw-leading-[40px];
  }

  /* 28 */
  .tw-h5-bold {
    @apply tw-font-bold tw-text-[28px] tw-leading-[36px];
  }

  /* 24 */
  .tw-p-bold-24 {
    @apply tw-font-bold tw-text-[24px] tw-leading-[36px];
  }

  .tw-p-medium-24 {
    @apply tw-font-medium tw-text-[24px] tw-leading-[36px];
  }

  .tw-p-regular-24 {
    @apply tw-font-normal tw-text-[24px] tw-leading-[36px];
  }

  /* 20 */
  .tw-p-bold-20 {
    @apply tw-font-bold tw-text-[20px] tw-leading-[30px] tw-tracking-[2%];
  }

  .tw-p-semibold-20 {
    @apply tw-text-[20px] tw-font-semibold tw-leading-[30px] tw-tracking-[2%];
  }

  .tw-p-medium-20 {
    @apply tw-text-[20px] tw-font-medium tw-leading-[30px];
  }

  .tw-p-regular-20 {
    @apply tw-text-[20px] tw-font-normal tw-leading-[30px] tw-tracking-[2%];
  }

  /* 18 */
  .tw-p-semibold-18 {
    @apply tw-text-[18px] tw-font-semibold tw-leading-[28px] tw-tracking-[2%];
  }

  .tw-p-medium-18 {
    @apply tw-text-[18px] tw-font-medium tw-leading-[28px];
  }

  .tw-p-regular-18 {
    @apply tw-text-[18px] tw-font-normal tw-leading-[28px] tw-tracking-[2%];
  }

  /* 16 */
  .tw-p-bold-16 {
    @apply tw-text-[16px] tw-font-bold tw-leading-[24px];
  }

  .tw-p-medium-16 {
    @apply tw-text-[16px] tw-font-medium tw-leading-[24px];
  }

  .tw-p-regular-16 {
    @apply tw-text-[16px] tw-font-normal tw-leading-[24px];
  }

  /* 14 */
  .tw-p-semibold-14 {
    @apply tw-text-[14px] tw-font-semibold tw-leading-[20px];
  }

  .tw-p-medium-14 {
    @apply tw-text-[14px] tw-font-medium tw-leading-[20px];
  }

  .tw-p-regular-14 {
    @apply tw-text-[14px] tw-font-normal tw-leading-[20px];
  }

  /* 12 */
  .tw-p-medium-12 {
    @apply tw-text-[12px] tw-font-medium tw-leading-[20px];
  }

  /* SHADCN OVERRIDES */
  .tw-select-field {
    @apply tw-w-full tw-bg-grey-50 tw-h-[54px] placeholder:tw-text-grey-500 tw-rounded-full tw-p-regular-16 tw-px-5 tw-py-3 tw-border-none focus-visible:tw-ring-transparent focus:tw-ring-transparent !important;
  }

  .tw-input-field {
    @apply tw-bg-grey-50 tw-h-[54px] focus-visible:tw-ring-offset-0 placeholder:tw-text-grey-500 tw-rounded-full tw-p-regular-16 tw-px-4 tw-py-3 tw-border-none focus-visible:tw-ring-transparent !important;
  }

  .tw-textarea {
    @apply tw-bg-grey-50 tw-flex tw-flex-1 placeholder:tw-text-grey-500 tw-p-regular-16 tw-px-5 tw-py-3 tw-border-none focus-visible:tw-ring-transparent !important;
  }

  .tw-button {
    @apply tw-rounded-full tw-h-[54px] tw-p-regular-16;
  }

  .tw-select-item {
    @apply tw-py-3 tw-cursor-pointer  focus:tw-bg-primary-50;
  }

  .tw-toggle-switch {
    @apply tw-bg-gray-300 !important;
  }
}

/* ========================================== REACT-DATEPICKER STYLES */
.tw-datePicker {
  width: 100%;
}

.tw-react-datepicker__input-container input {
  background-color: transparent;
  width: 100%;
  outline: none;
  margin-left: 16px;
}

.tw-react-datepicker__day--selected {
  background-color: #624cf5 !important;
  color: #ffffff !important;
  border-radius: 4px;
}

.tw-react-datepicker__time-list-item--selected {
  background-color: #624cf5 !important;
}
